# Node dependencies
node_modules
/data/
/lib/
/logs/
/public
/build
/dist
/assets
/index.html
*.log
.env.*
alemon*.env
alemon*.yaml
*.logs.ts
custom.properties
mysql-connector-j-9.1.0
/liquibase
*.memory-card.json
.data
.eslintcache
.env

CLAUDE.md
.omc