# 构建输出
dist/
lib/
build/

# 依赖
node_modules/

# 日志
logs/
*.log

# 缓存
.cache/
.eslintcache

# 配置文件
*.config.js
*.config.ts
lvy.config.ts
jsxp.config.tsx

# 数据文件
*.json
!package.json
!package-lock.json
!yarn.lock

# 其他
.DS_Store
.env*
.git/
.vscode/
.idea/

# 测试文件
testone/
